#time {
  text-anchor: middle;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  fill: #fff;
}

#time .seconds {
  fill:  #bf1f1f;
}
#time .minutes {
  fill:  #a642bf;
}
#time .hours {
  fill:  #2f69bf;
}
#time .days {
  fill:  #39bf6e;
}
#time .months {
  fill:  #b5bf8f;
}

.background {
  fill: #333;
}

path {
   stroke-width: 30;
   fill: none;
}

#seconds{
  stroke: #bf1f1f;
}

#minutes {
  stroke: #a642bf;
}

#hours {
  stroke: #2f69bf;
}

#days {
  stroke: #39bf6e;
}

#months {
  stroke: #b5bf8f;
}

#start-button rect {
  opacity: 0.8;
  opacity-fill: 1;
  fill: #000;
  fill-opacity: 1;
  stroke: none;
}

#start-button text {
  font-size: 64px;
  font-family: Sans;
  fill: #fff;
}

#tracks circle {
  stroke: #444;
  stroke-width: 2;
  fill: none;
  stroke-linecap: round;
}

/* ((2xMath.PIx200)-60) sur 60 */
#tracks .seconds {
  stroke-dasharray: 1, 19.943951023931955;
}

/* ((2xMath.PIx160)-60) sur 60 */
#tracks .minutes {
  stroke-dasharray: 1, 15.755160819145564;
}

/* ((2xMath.PIx120)-240) sur 24 */
#tracks .hours {
  stroke-dasharray: 1, 30.415926535897928;
}

/* ((2xMath.PIx80)-31) sur 31 */
#tracks .days {
  stroke-dasharray: 1, 15.214671760463448;
}

/* ((2xMath.PIx40)-12) sur 12 */
#tracks .months {
  stroke-dasharray: 1, 19.943951023931955;
}
